Error 1

In [1]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.read_csv(url)
print(data.head())

NameError: name 'pd' is not defined

In [2]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.read_csv(url)  # Load the data
print(data.head())  # Print the first few rows

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Error 2

In [3]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.reads_csv(url)  # Load the data
print(data.head())  # Print the first few rows

AttributeError: module 'pandas' has no attribute 'reads_csv'

In [4]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.read_csv(url)  # Correct function to load the data
print(data.head())  # Print the first few rows

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Make sure to use pd.read_csv() with an underscore, not pd.reads_csv() with an "s". This should resolve the AttributeError.

Error 3

In [7]:
import pandas as pd

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)

# Group by 'Pclass' and describe 'Age'
age_description_by_pclass = DF.groupby('Pclass')['Age'].describe()

print(age_description_by_pclass)

NameError: name 'DF' is not defined

In [8]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)  # Load the data

# Group by 'Pclass' and describe 'Age'
age_description_by_pclass = df.groupby('Pclass')['Age'].describe()

print(age_description_by_pclass)

        count       mean        std   min    25%   50%     75%   max
Pclass
1       216.0  38.788981  14.183633  0.92  28.75  38.5  48.000  80.0
2       184.0  29.868641  13.756191  0.67  23.00  29.0  36.625  70.0
3       487.0  25.188747  12.095084  0.42  19.00  24.0  31.000  74.0

Chatgpt:
    Hereâ€™s how you can correct the code:

Make sure you use the same variable name consistently. If your DataFrame is stored in df, use df everywhere.

Replace DF with df in your code.

Error 4

In [9]:
summary_numeric = data.describe(
print(summary_numeric)

SyntaxError: incomplete input (2178876887.py, line 2)

In [10]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.read_csv(url)  # Load the data

# Generate summary statistics
summary_numeric = data.describe()  # Corrected: added closing parenthesis

# Print the summary statistics
print(summary_numeric)

         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

Explanation

data.describe(): Computes descriptive statistics for numeric columns in the DataFrame.
summary_numeric: Stores the result of the describe() method.
print(summary_numeric): Outputs the summary statistics to the console.

Ensure that the describe() method has its parentheses properly closed and that the print() function is used to display the result. This should resolve the SyntaxError.

Error 5

In [14]:
data = {
    'Pclass': [1, 2, 2, 1, 3],
    'Age': [25, None, 30, 22, None]
}

df = pd.DataFrame(data)

In [15]:
grouped_description = df.group_by('Pclass')['Age'].describe()

print(grouped_description)

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [16]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)  # Load the data

# Group by 'Pclass' and describe 'Age'
grouped_description = df.groupby('Pclass')['Age'].describe()

# Print the descriptive statistics for 'Age' within each 'Pclass'
print(grouped_description)

        count       mean        std   min    25%   50%     75%   max
Pclass
1       216.0  38.788981  14.183633  0.92  28.75  38.5  48.000  80.0
2       184.0  29.868641  13.756191  0.67  23.00  29.0  36.625  70.0
3       487.0  25.188747  12.095084  0.42  19.00  24.0  31.000  74.0

The error you're encountering is due to a typo: group_by should be groupby. Pandas uses groupby (all lowercase) to group data by one or more columns.

Error 6

In [17]:
summary_numeric = data.describe()
print(summer_numeric)

AttributeError: 'dict' object has no attribute 'describe'

In [19]:
import pandas as pd  # Import Pandas

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.read_csv(url)  # Load the data as a DataFrame

# Compute summary statistics
summary_numeric = data.describe()

# Print the result
print(summary_numeric)

         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

The AttributeError: 'dict' object has no attribute 'describe' suggests that the data object is not a Pandas DataFrame but rather a dictionary. This might happen if the data variable was inadvertently reassigned or incorrectly loaded.

Error 7

In [20]:
import pandas as pd

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)

# Group by 'Pclass' and describe 'Age'
age_description_by_pclass = df.groupby(Pclass)['Age'].describe()

print(age_description_by_pclass)

NameError: name 'Pclass' is not defined

In [21]:
import pandas as pd

# Load the Titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)

# Group by 'Pclass' and describe 'Age'
age_description_by_pclass = df.groupby('Pclass')['Age'].describe()  # Use 'Pclass' as a string

# Print the descriptive statistics
print(age_description_by_pclass)

        count       mean        std   min    25%   50%     75%   max
Pclass
1       216.0  38.788981  14.183633  0.92  28.75  38.5  48.000  80.0
2       184.0  29.868641  13.756191  0.67  23.00  29.0  36.625  70.0
3       487.0  25.188747  12.095084  0.42  19.00  24.0  31.000  74.0

The NameError: name 'Pclass' is not defined indicates that Pclass is being interpreted as a variable rather than a string. When using groupby, the column name should be specified as a string.